/*
 *
 *  Mobile first
 *
 */
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
  font-family: sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #FFFFFF;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #AAAAAA;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.overflow-hiden {
  overflow: hidden;
}

.text-center {
  text-align: center;
}

section > hr {
  border: 2px solid #555555;
  width: 25%;
  margin: 30px auto;
}

section {
  padding-top: 4em;
  padding-bottom: 4em;
}
section > h1 {
  text-align: center;
  text-transform: uppercase;
}

section:last-child {
  padding-bottom: 0;
}

@media (min-width: 576px) {
  section > hr {
    width: 12.5%;
  }
}
.not-visible {
  visibility: hidden;
}

.disable {
  cursor: not-allowed;
}

.animation {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}

nav {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease-in;
  transform: translateX(-100%);
}
nav .nav-links {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  background-color: #000000;
  padding: 0;
  opacity: 0;
}
nav .nav-links li {
  list-style-type: none;
  text-align: center;
  font-size: 1.5em;
}
nav .nav-links a {
  color: #ffffff;
  text-decoration: none;
}
nav.nav-active {
  transform: translateX(0%);
  background-color: #000000;
}
nav.nav-active .nav-links {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-name: navLinkFade;
  animation-delay: 0.5s;
}

.menu-burger {
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
  position: fixed;
  z-index: 101;
  position: fixed;
  top: 0;
  left: 0;
}
.menu-burger > div {
  transition: all 0.3s ease-in;
  animation-fill-mode: both;
}
.menu-burger > div {
  width: 30px;
  height: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.45);
  margin: 5px;
}

.nav-active.menu-burger .line1 {
  transform: rotate(-225deg) translate(8px, -8px);
}
.nav-active.menu-burger .line2 {
  opacity: 0;
}
.nav-active.menu-burger .line3 {
  transform: rotate(225deg) translate(6px, 5px);
}

@media (min-width: 576px) and (orientation: landscape) {
  nav {
    width: 300px;
  }
}
header {
  min-height: 100vh;
  max-width: 100vw;
  color: #FFFFFF;
}

div.bg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  filter: brightness(0.4);
  background: url(../img/mountain1.jpg) no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
  transition: background-image 2s ease;
}

header * {
  font-weight: normal;
  letter-spacing: 0.2em;
}

header div.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 15px;
}

header {
  text-align: center;
}

header h1 {
  font-size: 1.5em;
  padding: 15px 0;
}

header h1:nth-child(2) {
  font-size: 3em;
}

@media (min-width: 992px) and (orientation: landscape) {
  header h1 {
    font-size: 2em;
    padding: 15px 0;
  }

  header h1:nth-child(2) {
    font-size: 5em;
  }
}
section.skills-presentation {
  background-color: #EEEEEE;
}
section.skills-presentation .skills {
  display: grid;
  grid-template-columns: 1;
  text-align: center;
  row-gap: 2em;
}
section.skills-presentation .skills p {
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
}

@media (min-width: 768px) and (orientation: landscape) {
  .skills {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  .skills {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 300px;
    margin-right: 300px;
  }
}
section.experience {
  position: relative;
  background-color: #dddddd;
  padding: 3em 1em;
}
section.experience .flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
section.experience .flex .card {
  margin: 2em;
}
section.experience .flex .card .container {
  max-width: 25em;
  padding: 1em 2em;
  background-color: #ffffff;
  border-radius: 5px;
}
section.experience .flex .card .container .title {
  margin-bottom: 2em;
  word-break: break-word;
}
section.experience .flex .card .container p:first-child {
  text-align: left;
}
section.experience .flex .card .container p {
  text-align: justify;
}
section.experience .flex .card .triangle {
  margin-left: 0.875em;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 26px 15px;
  border-color: transparent transparent #ffffff transparent;
  box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
}
section.experience .flex .card > div {
  text-align: center;
}

@media (min-width: 768px) and (orientation: landscape) {
  section.experience .flex {
    margin: 0 10em;
  }
}
section.qualification {
  position: relative;
  background-color: #dddddd;
  padding: 3em 1em;
}
section.qualification .flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
section.qualification .flex .card {
  margin: 2em;
}
section.qualification .flex .card .container {
  max-width: 25em;
  padding: 1em 2em;
  background-color: #ffffff;
  border-radius: 5px;
}
section.qualification .flex .card .container .title {
  margin-bottom: 2em;
  word-break: break-word;
}
section.qualification .flex .card .container p:first-child {
  text-align: left;
}
section.qualification .flex .card .container p {
  text-align: justify;
}
section.qualification .flex .card .triangle {
  margin-left: 0.875em;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 26px 15px;
  border-color: transparent transparent #ffffff transparent;
  box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
}
section.qualification .flex .card > div {
  text-align: center;
}

@media (min-width: 768px) and (orientation: landscape) {
  section.experience .flex {
    margin: 0 10em;
  }
}
.project-presentation .project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3em 1em;
}
.project-presentation .project a {
  display: none;
}
.project-presentation .project .title {
  text-align: center;
}
.project-presentation .project .description {
  width: 19em;
  padding: 1em;
  text-align: justify;
  line-height: 24px;
}
.project-presentation .project > div {
  margin: 2em 0;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}
.project-presentation .project > div:hover {
  cursor: pointer;
}
.project-presentation .project img {
  object-fit: cover;
  width: 19em;
  border-radius: 5px;
}

@media (min-width: 768px) and (orientation: landscape) {
  .project-presentation .project > div {
    margin: 2em 1.5em;
    transition: transform 0.3s ease-in;
  }
  .project-presentation .project > div:hover {
    transform: scale(1.3);
  }
  .project-presentation .project img {
    max-height: 11em;
    min-height: 11em;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  .project-presentation {
    padding-left: 10em;
    padding-right: 10em;
  }
}
@media (min-width: 1400px) and (orientation: landscape) {
  .project-presentation {
    padding-left: 15em;
    padding-right: 15em;
  }
}
.about {
  padding: 3em 0;
  background-color: #528ee7;
  color: #ffffff;
}
.about > hr {
  border-color: #FFFFFF;
}
.about p.description {
  padding: 0 2em;
  margin-bottom: 20px;
  text-align: justify;
}
.about h1 {
  margin-bottom: 30px;
}
.about a {
  text-decoration: none;
  color: inherit;
  margin-top: 10px;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  white-space: nowrap;
  transition: all 0.3s ease-in;
}
.about a:hover {
  background-color: #FFFFFF;
  color: #000000;
}

@media (min-width: 768px) and (orientation: landscape) {
  .about .flex {
    padding: 5em 20em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .about .flex div:nth-child(1) {
    min-width: 37em;
    max-width: 37em;
    margin-right: 1em;
  }
  .about .flex .description {
    border-right: 3px solid #ffffff;
  }
}
@media (min-width: 992px) and (orientation: landscape) {
  .about p.description {
    font-size: 1.5em;
  }
}
section.contact {
  padding: 3em 0;
}
section.contact .email,
section.contact .phone,
section.contact .linkedin {
  display: flex;
  align-items: center;
}
section.contact a {
  color: inherit;
  text-decoration: none;
  margin-left: 2em;
  white-space: nowrap;
}
section.contact p.description {
  padding: 0 2em;
  margin-bottom: 20px;
  text-align: center;
}
section.contact h1 {
  margin-bottom: 30px;
}
section.contact .contacts {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}
section.contact .contacts > div {
  margin: 1em 0;
}

@media (min-width: 576px) {
  section.contact .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  section.contact .flex {
    padding: 5em 20em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }
  section.contact .flex div.description {
    min-width: 25em;
    max-width: 25em;
    margin-left: 1em;
    border-left: 3px solid #000000;
  }
  section.contact .flex .contacts {
    display: block;
    margin-left: 3em;
  }
  section.contact .flex p.description {
    text-align: justify;
  }
}
@media (min-width: 992px) and (orientation: landscape) {
  section.contact p {
    font-size: 1.5em;
  }
}
section.reference {
  background-color: #EEEEEE;
}
section.reference div.references {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
section.reference div.references > div {
  margin: 2em 0;
}
section.reference div.references > div h3 {
  margin-bottom: 1em;
}

@media (min-width: 576px) {
  section.reference div.references {
    flex-direction: row;
  }
  section.reference div.references > div {
    margin: 2em 4em;
  }
}
.bg-modal {
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal {
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal .title {
  text-align: center;
}
.modal .description {
  width: 19em;
  padding: 1em;
  text-align: justify;
  line-height: 24px;
}
.modal > div {
  background-color: #ffffff;
  border-radius: 5px;
}
.modal img {
  object-fit: cover;
  width: 19em;
  border-radius: 5px;
}
.modal a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 1em 0;
  color: #FFFFFF;
  background-color: #528ee7;
}
.modal a.disable {
  background-color: #FF0000;
}

@media (min-width: 768px) and (orientation: landscape) {
  .modal {
    transform: translate(-50%, -50%) scale(1.2);
  }
  .modal > div {
    transition: transform 0.3s ease-in;
  }
  .modal img {
    max-height: 11em;
    min-height: 11em;
  }
  .modal a {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

/*# sourceMappingURL=app.css.map */
