* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
    font-family: sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #FFFFFF; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #AAAAAA;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }