section.skills-presentation {
  background-color: #eee;

  .skills {
    display: grid;
    grid-template-columns: 1;
    text-align: center;
    row-gap: 2em;
    p {
      font-weight: 700;
      font-size: 1.5em;
      text-transform: uppercase;
    }
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  .skills {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (min-width: 1200px) and (orientation: landscape) {
  .skills {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 300px;
    margin-right: 300px;
  }
}
