@import url('https://fonts.googleapis.com/css?family=Lobster|Pacifico|Raleway');

@media (min-width: 1024px) {
    .dropdown-menu {
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}

section {
    padding: 1.5em 0;
}

.title_header {
    font-family: 'Raleway', sans-serif;
    padding: 100px 0;
    font-size: 3em;
    font-weight: bolder;
    font-style: italic;
}

@media (min-width: 1024px) {
    .title_header {
        font-family: 'Raleway', sans-serif;
        padding: 200px 0;
        font-size: 5em;
        font-weight: bolder;
        font-style: italic;
    }
}

hr.separation {
    max-width: 12.5%;
    border-width: .3em;
    background-color: #3e3e3e;
}

hr.separation-white {
    background-color: #fff;
}

.font-title-logo {
    font-family: 'Lobster', cursive;
    font-size: 1.5em;
}

i.description-logo {
    display: block;
    margin: -1em 0 1em 0;
    font-size: 1.3em;
}

.animated-article:hover {
    -webkit-animation: article 1s; /* Safari 4+ */
    -moz-animation: article 1s; /* Fx 5+ */
    -o-animation: article 1s; /* Opera 12+ */
    animation: article 1s; /* IE 10+, Fx 29+ */

    animation-fill-mode: forwards; /* Stay at 100% */

    cursor: pointer;
}

@keyframes article {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0.6;
        transform: scale(1.25);
    }
}

#technology {
    background-color: #eeeeee;
}

#about {
    background-color: #eeeeee;
}

ul.about > li {
    font-size: 1.3em;
    line-height: 1.8;
}

#contact {
    background-color: #f05f40;
}

p.contact {
    font-size: 1.3em;
}

.carousel-control-icon-black {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%
}

.carousel-control-prev-icon-black {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}

.carousel-control-next-icon-black {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}

.carousel-indicators-black > li {
    background-color: rgba(74, 74, 74, 0.6);
}

.carousel-indicators .active {
    background-color: rgb(0, 0, 0);
}